body {
    background-color: rgb(0, 0, 0);
    position: fixed;
}


#root {
    background-color: rgb(0, 0, 0);
}
p {
    cursor: pointer;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Allerta Stencil', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 13vw;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    height: 100vh;
    width: 100vw;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#container {
    cursor: pointer;
    text-decoration: line-through;
    animation-name: fadeIn2;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes fadeIn2 {
    0% {
        text-decoration-color: rgba(0, 0, 0, 0);
    }
    50% {
        text-decoration-color: rgba(0, 0, 0, 0);
    }
    100% {
        text-decoration-color: rgb(255, 255, 255);
    }
}

#retangle {
    animation-delay: 5s;
    animation-name: recFadeIn;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes recFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wrapper {
    text-align: center;
}

.choices{
    font-family: 'Allerta Stencil', sans-serif;   
 }

 .History {
    position: absolute;
    min-width: 200px;
    width: 30%;
    background-color: black;
    border: 3px solid orange;
    margin: auto;
    top: -50%;
    left: 15%;
    bottom: 0;
    right: 0;
    height: 4em;
    color: orange;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
}
.underErasure{
    position: absolute;
    min-width: 200px;
    width: 30%;
    background-color: black;
    border: 3px solid orange;
    margin: auto;
    top: -20%;
    left: 15%;
    bottom: 0;
    right: 0;
    height: 4em;
    color: orange;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.three{
    position: absolute;
    min-width: 200px;
    width: 30%;
    background-color: black;
    border: 3px solid orange;
    margin: auto;
    top: 10%;
    left: 15%;
    bottom: 0;
    right: 0;
    height: 4em;
    color: orange;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.four{
    position: absolute;
    min-width: 200px;
    width: 30%;
    background-color: black;
    border: 3px solid orange;
    margin: auto;
    top: 40%;
    left: 15%;
    bottom: 0;
    right: 0;
    height: 4em;
    color: orange;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
}
.slider {
    width: 100vw;
    height: 100vh;
    transition: 1s;
    position: fixed;
    top: 0;
}

.slider > div {
    display: none;
}

.slider:hover > div {
    display: block;
}

#retangle .slider:nth-child(1) {
    left: -90vw;
    background:  rgba(255, 230, 0, 0.3);
}

#retangle .slider:nth-child(2) {
    left: -95vw;
    background: rgba(255, 1, 34, 0.3);
}

#retangle .slider:nth-child(1):hover,
#retangle .slider:nth-child(2):hover {
    left: 0;
}

#retangle .slider:nth-child(3) {
    right: -90vw;
    background: rgba(66, 187, 224, 0.3); 
}

#retangle .slider:nth-child(4) {
    right: -95vw;
    background: rgba(166, 255, 0, 0.3);
}

#retangle .slider:nth-child(3):hover,
#retangle .slider:nth-child(4):hover {
    right: 0;
}

